<!DOCTYPE html>
<html>
    <%- include('../partial/head') %>
    <body>
        <%- include('../partial/header',{...dataBasic}) %>
        <main>
            <div class="div-carrito-principal">

                <div class="div-img-prod-price">

                    <div class="carrito-img-btn">
                            <img class="img-carrito" src="/images/products/<%-prod.image %>" alt="">
                            <div class="div-btn-span">
                                <button class="btn-mas-menos btn-carrito"><span>Seguir comprando</span></button>
                                <button class="btn-mas-menos btn-carrito"><span>Eliminar</span></button>
                            </div>
                    </div>

                    <div class="title-p-carrito">
                        <h3 class="titulo"> <%= prod.name %> </h3>
                        <p class="description-product p-carrito-desc"> <%= prod.description %> </p>
                    </div>

                    <div class="div-carritoMasMenos-price">
                        <%- include('../partial/carritoMasMenos') %>
                        <p class="precio-article p-carrito-precio">$<%= toThousand(prod.price) %></p>    
                    </div>

                </div>



                <div class="div-compra-price">
                    <h4 class="titulo h-resumen-compra">Resumen de compra</h4>
                    <div class="div-resumen-compra">
                        <p class="p-resumen-compra">Producto</p>
                        <p class="p-resumen-compra">$<%= toThousand(prod.price) %></p>
                    </div>
                    <div class="div-resumen-compra">
                        <p class="p-resumen-compra">Envío</p>
                        <p class="p-resumen-compra">$1000</p>
                    </div>
                    <div class="div-resumen-compra">
                        <b class="p-resumen-compra">Total</b>
                        <b class="p-resumen-compra">$3000</b>
                    </div>
                    <button class="btn-mas-menos btn-comprar"><span>Comprar</span></button>
                </div>
            </div>
            <h3 class="titulo">Productos recomendados</h3>
            <section class="article-product-section">
                <%- include('../partial/articleProduct',{
                    ...prod,
                    ...dataBasic
                }) %>
                <%- include('../partial/articleProduct',{
                    ...prod,
                    ...dataBasic
                }) %>
                <%- include('../partial/articleProduct',{
                    ...prod,
                    ...dataBasic
                }) %>
                <%- include('../partial/articleProduct',{
                    ...prod,
                    ...dataBasic
                }) %>
            </section>
        </main>
        <%- include('../partial/footer') %>
    </body>
</html>