<!DOCTYPE html>
<html>
    <%- include('../partial/head') %>
    <body>
        <%- include('../partial/header') %>
        <main>
            <%- include('../partial/boxProductDetail') %>
            <h3 class="titulo">Productos recomendados</h3>
            <section class="article-product-section">
                <%- include('../partial/articleProduct') %>
                <%- include('../partial/articleProduct') %>
                <%- include('../partial/articleProduct') %>
                <%- include('../partial/articleProduct') %>
            </section>
        </main>
        <%- include('../partial/footer') %>
    </body>
</html>