<!DOCTYPE html>
<html>
    <%- include('../partial/head') %>
    <body>
        <%- include('../partial/header') %>
        <main>
            <h1> <%= title %></h1>
            
            <section class="article-product-section">

                <% productJson.forEach((product) => { %>
                    <%- include('../partial/articleProduct', {
                        ...product,
                    }) %>
                <% }) %>

            </section>

        </main>
        <%- include('../partial/footer') %>
    </body>
</html>