<!DOCTYPE html>
<html lang="en">
  <%- include('partial/head',{title:"Administrador"}) %>
  <body>

    <%- include('partial/headerAdmin') %>

    <div class="admin-body-div-table">
      <div class="contenedor-main">
        <div class="div-producto-nuevoProducto">
          <div class="div-contenedor-h2">
            <h2 class="">Productos</h2>

            <div class="div-contenedor-i">
              <a href="/products/create">
                <button class="btn-nuevo-producto" type="submit">
                  <i class="fa fa-plus"></i> Nuevo producto
                </button>
              </a>
            </div>
          </div>
          <div class="contenedor-search-filter">
            <div class="div-form-search">
              <form class="" role="search">
                <input
                  class="input-search"
                  type="search"
                  placeholder="Escriba..."
                  aria-label="Search"
                />
                <button class="btn-lupa-search" type="submit">
                  <i class="fa fa-search"></i> Buscar
                </button>
              </form>
            </div>

            <div class="div-form-filter">
              <form class="" role="search">

                <select class="select-filter">
                  <option value="" hidden selected>Elegí la categoría</option>
                            <% categories.forEach(category => { %>
                                <option><%= category.name %></option>
                            <% }) %>
                </select>

                <button class="btn-filter" type="submit">
                  <i class="fa fa-filter"></i>
                  Filtrar
                </button>
              </form>
            </div>
          </div>
        </div>

        <div class="div-table">
          <table class="table-tr-th">
            <thead class="thead-tr-th">
              <tr>
                <th class="th-fila">ID</th>
                <th class="th-fila">Producto</th>
                <th class="th-fila">Precio</th>
                <th class="th-fila">Descuento</th>
                <th class="th-fila">Categoria</th>
                <th class="th-fila">Acciones</th>
              </tr>
            </thead>
            <tbody class="tbody-tr-th">
              <% products.forEach(({id, name, price, discount, description, images, category}) => { %>
              <tr>
                  <th><%= id %></th>
                  <td class="th-fila-junior"><%= name %></td>
                  <td class="th-fila-junior">$<%= toThousand(price) %></td>
                  <td class="th-fila-junior"><%= discount %>%</td>
                  <td class="th-fila-junior"><%= category.name %></td>
                  <td class="td-fila-junior">
                      <div class="div-button-acciones">

                          <button type="submit" class="button-acciones-editar"><a style="color: white;" href="/products/edit/<%= id %>">Editar</a></button>

                          <button type="button" class="button-acciones-borrar borrarProd" data-name="<%= name %>" data-id="<%= id %>">Borrar</button>

                          <form action="/products/delete/<%= id %>?_method=DELETE" method="POST" class="delete-form">
                              <button type="submit" class="button-acciones-borrar" style="display: none;"></button>
                          </form>
                      </div>
                  </td>
              </tr>
              <% }) %>
          </tbody>
          </table>
        </div>
      </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="/javascripts/sweetAlertDanger.js"></script>
  </body>
</html>
