<div class="box-producto-descripcion">
    <div class="producto-precio">

        <div class="box-img-producto">
            <div class="img-principal-icon">
                <div class="img-wrapper">
                    <img src=" /images/products/<%- images.length ? images[0].name : 'default-image.png' %> " alt="">

                </div>
                <button class="icon-heart"><i class="fa-regular fa-heart"></i></button>
            </div>

            <div class="slider-box-img">
                <% images.length && images.forEach(image => { %>
                    <img src="/images/products/<%- image.name %>" alt="" class="slider-box-img-min">
                <% }) %>
            </div>
        </div>
        
        <div class="box-precio-calificacion">
            <h3 class="title-product-detail"> <%- name %></h3>
            
            <div class="precio-descuento">
                <p class="price"> $<%- toThousand(price) %> </p>
                <p class="discount"> <%- discount %>% OFF</p>
            </div>

            <div class="compra-agregar-carrito">
                <%- include('carritoMasMenos') %>
            
                <div class="div-agregar-comprar">
                    <button class="btn-mas-menos btn-comprar">
                        <span>Comprar</span>
                    </button>
                    <button class="btn-mas-menos btn-comprar btn-add-carrito">
                        <span>Agregar al Carrito</span>
                    </button>
                </div>
            </div>
            
            <div class="box-calificar-producto">
                <p>Reseña: 1.5 / 5</p>
                <div class="stars-icon">
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                    <i class="fa-regular fa-star"></i>
                </div>
            </div>
        </div>
    </div>

    <div class="descripcion-producto-detail">
        <h3 class="especificaciones">Especificaciones del producto</h3>

        <div class="box-texto-especificacion">
            <h3 class="title-detail">Texto 1</h3>
            <p class="texto-detail txt-d-1">Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem distinctio ducimus itaque vel dicta? Cum nesciunt, corrupti deserunt voluptatibus repudiandae officiis temporibus unde id ab quod ea quisquam ipsum esse!</p>
        </div>
        <div class="box-texto-especificacion">
            <h3 class="title-detail">Texto 2</h3>
                <p class="texto-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, quas quod! Quasi similique architecto, aut sunt debitis tenetur fugiat totam quos exercitationem ullam amet, dolores reprehenderit vel nesciunt placeat odio!</p>
        </div>
        <div class="box-texto-especificacion box-txt-spec-none-border">
            <h3 class="title-detail">Texto 3</h3>
            <p class="texto-detail">Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique officia asperiores, veniam corrupti, nam expedita magnam obcaecati vel corporis numquam temporibus pariatur doloribus molestias quasi repellendus ducimus deleniti voluptatum voluptatem.</p>
        </div>
    </div>
</div>