<!DOCTYPE html>
<html>
  <%- include('partial/head') %>
  <body>
    <%- include('partial/header') %>
    <main>
      <div class="div-main">
        
        <h1><%= title %></h1>
        
        <h2 class="titulo">Productos Recomendados</h2>
        
        <div class="banner-index">
          <img src="<%- carousel %>" alt="banner">
        </div>

        <section class="article-product-section">
          <%- include('partial/articleProduct') %>
          <%- include('partial/articleProduct') %>
          <%- include('partial/articleProduct') %>
          <%- include('partial/articleProduct') %>
        </section>

        <h2 class="titulo">Opiniones de nuestros clientes</h4>

          <section class="article-opinion-section">
              <%- include('partial/articleOpinion') %>
              <%- include('partial/articleOpinion') %>
              <%- include('partial/articleOpinion') %>
              <%- include('partial/articleOpinion') %>
          </section>

      </div>
      
    </div>
    </main>
    <%- include('partial/footer') %>
  </body>
</html>
