<!DOCTYPE html>
<html>
    <%- include('../partial/head') %>
    <body>
        <%- include('../partial/header') %>
        <main class="main main-login">
            <div class="div-form-login">

                <form action="/users/processLogin" method="POST" id="idFormUserLogin" class="forms-login">
                    
                    <h2 class="titulo-login">Iniciar sesion</h2>
                        <label for="email" class="label-login-email">Ingrese su correo</label>
                        <div class="input-container">
                            <input type="email" placeholder="micorreo@gmail.com" name="email" class="correo" id="email" value="<%= (locals.oldData && oldData.email) && oldData.email%>">
                            <i class="fa-solid fa-xmark input-icon" id="input-icon"></i>
                            
                        </div>
                        <span id="error-email" class="text-danger"><%= (locals.errors && errors.email) && errors.email.msg  %></span>
                        <label for="password" class="label-login-password">Ingrese su contraseña</label>
                        <div class="input-container">
                        
                        <input type="password" class="password" id="password" name="password" placeholder="MiContraseña123" value="<%= (locals.oldData && oldData.password) && oldData.password%>">
                        <i class="fa-solid fa-xmark input-icon" id="input-icon"></i>
                        </input >
                        </div>
                        <span id="error-password" class="text-danger"><%= (locals.errors && errors.password) && errors.password.msg  %></span>

                        <a href="/users/register" class="a-login">¿No tenés cuenta? ¡Registrate!</a>
                        <a href="#" class="a-login" >Olvidé mi contraseña </a> 
                        <button type="submit" class="btn-mas-menos button-login">Iniciar sesión</button>
                </form>
            </div>
        </main>
        <%- include('../partial/footer') %>
        <script>
            if('<%=error%>'){
                Swal.fire({
                    icon: "error",
                    title: "¡Credenciales inválidas!",
                    text: "Ingrese un correo y una contraseña válidos.",
                    });
            }
        </script>
        <script src="/javascripts/validationsUserLogin.js"></script>
    </body>
</html>