<!DOCTYPE html>
<html lang="en">
<%- include('../partial/head') %>
<body>
    <%- include('../partial/header') %>
    <main class="main main-profile"> 
        <div>
            <div class="div-forms-profile">
                <h2 class="titulo-profile"> Bienvenido al perfil de <%= firstName %></h2>    
                <form action="/users/update/<%= id %>?_method=PUT" method="POST" enctype="multipart/form-data" class="forms-profile"> 
                    <label for="firstName" class="label-profile" >Cambiar nombre</label>
                    <input type="text" placeholder="Matías" name="firstName" id="firstName" class="input-profile" value="<%= firstName %>">
                    
                    <label for="lastName" class="label-profile" >Cambiar apellido</label>
                    <input type="text" placeholder="Espíndola" name="lastName" id="lastName" class="input-profile" value="<%= surname %>">
                    
                    <label for="email" class="label-profile">Cambiar correo</label>
                    <input type="email" placeholder="ejemplo@gmail.com" name="email" id="email" class="input-profile" value="<%= email %>">
                    
                 <!--    <label for="password" class="label-profile" >Cambiar contraseña</label>
                    <input type="password" name="password" id="password" placeholder="MiContraseña123" class="input-profile" >
                    
                    <label for="password2" class="label-profile" >Confirmar cambio de contraseña</label>
                    <input type="password" placeholder="MiContraseña123" name="password2" id="password2" class="input-profile"> -->
                    
                    <label for="phone" class="label-profile">Ingresar/cambiar su número de teléfono</label>
                    <input type="number" name="phone" id="phone" class="input-profile" placeholder="11-2345-6789" value="<%= phone %>">
                    
                    <div class="contenedor-button-profile">
                        <label for="avatar" class="label-profile label-profile-image">Actualizar foto de perfil</label>
                        <input type="file" name="avatar" id="avatar" accept=".jpg,.jpeg,.png" class="input-register input-reg-file input-reg-file-profile" >
                        <button class="btn-mas-menos button-register-submit button-profile" type="submit">Actualizar</button>
                    </div>
                </div>
            </form>
        </div>
    </main>
    <%- include('../partial/footer') %>
</body>
</html>